<form [formGroup]="form">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Bio</label>
        <input formControlName="bio" type="text" class="form-control" id="exampleInputPassword1" placeholder="Bio">
    </div>
    <div class="form-group">
        <label for="exampleInputFile">Image</label>
        <input formControlName="image" type="text" id="exampleInputFile" class="form-control">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<hr>
{{form.value | json}}

<h4>Default</h4>
<rating [(ngModel)]="rate"
        [max]="max"
        [readonly]="isReadonly"
        (onHover)="hoveringOver($event)"
        (click)="onClick($event)"
        (onLeave)="resetStar($event)">
</rating>


<span class="label"
      [ngClass]="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
      [ngStyle]="{display: (overStar && !isReadonly) ? 'inline' : 'none'}">{{percent}}%</span>
<pre class="card card-block card-header" style="margin:15px 0;">Rate: <b>{{rate}}</b> - Readonly is: <i>{{isReadonly}}</i> - Hovering over: <b>{{overStar || "none"}}</b></pre>
