.color-sample{
    width: 100px;
    height: 100px;
}

.color-sample.color-sample-blank{
    border: 1px solid black;
    border-radius: 5px;
}

.glyphicon.glyphicon-collapse-down{
    height: 35px;
    border-radius: 5px;
    font-size: 20px;
    text-shadow: 0 1px 0 #666;
    background: #cccbbb;
}
.glyphicon.glyphicon-collapse-up{
    color: #eee;
    text-shadow: 0 0 1px #666;
    text-decoration: none;
    box-shadow: 0 0 4px #222 inset;
    opacity: 1;
    margin-bottom: 25px;
 }