<div class="row">

    <div class="col-xs-6">
        <div class="color-sample color-sample-blank" [ngStyle]="{'background': color}">Color</div>
        <br>
        <input type="text" class="form-control" placeholder="{{text}}" #input (keyup)="colorChanged(input)">
    </div>
</div>
<br>
<hr>

<div >
    <div class="panel panel-default" >
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span class="glyphicon glyphicon-collapse-down" aria-hidden="true" collapse-on-click></span>
            Panel heading
        </div>
        <div class="panel-body">
            <p class="text-center">This is the collapsible panel</p>
        </div>
    </div>
</div>
