<nav id="nav">
  <ul>
    <li routerLinkActive="['']"><a [routerLink]="['']">Home</a></li>
    <li *ngIf="!isAuth()"><a href="#" (click)="showChildModal()">ავტორიზაცია</a></li>
    <li *ngIf="isAuth()"><a [routerLink]="['formtest']" >FormTest</a></li>
    <li *ngIf="isAuth()"><a href="#" (click)="logout()" >LogOut</a></li>
  </ul>
</nav>


<!-- control modal from parent component -->

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">გაიარეთ ავტორიზაცია ან დარეგისტრირდიტ</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="!isAuth()">
          <form [formGroup]="form" (submit)="signInWithPassword()" >
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="checkbox"><label><input type="checkbox">Remember me</label></div>
            <button type="submit" class="btn btn-default">Submit</button>
            <button (click)="signInWithGoogle()" class="btn btn-default">Google</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
