<nav id="nav">
  <ul>
    <li routerLinkActive="['']"><a [routerLink]="['']">Home</a></li>
    <li>
      <a href="#">ავტორიზაცია</a>
      <ul>
        <li><a href="#" (click)="showChildModal()">ლოგინი</a></li>
        <li><a href="#" (click)="signInWithFacebook()" type="button">Facebook</a></li>
        <li><a href="#" (click)="signInWithGithub()" type="button">GitHub</a></li>
        <li><a href="#" (click)="signInWithGoogle()" type="button">Google</a></li>
        <li><a href="#" (click)="signInWithTwitter()" type="button">Twitter</a></li>
        <li><a href="#">რეგისტრაცია</a></li>
        <li><a href="#">გასვლა</a></li>
      </ul>
    </li>
    <li><a href="">მენუ ... </a></li>

  </ul>
</nav>


<!-- control modal from parent component -->

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">გაიარეთ ავტორიზაცია</h4>
      </div>
      <div class="modal-body">
        ავტორიზაციისატვის უნდა დალოგინდეთ
      </div>
    </div>
  </div>
</div>
