<div class="col-md-12">
    <div *ngIf="isLoading">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw" aria-hidden="true" style="position: relative;left: 50%;"></i>
    </div>

    <div class="row">
        <div class="col-md-2">
            <Vote></Vote>
            <Star></Star>
        </div>
        <div class="col-md-10">
            <div *ngFor="#task of tasksData">
                <h4><a [routerLink]="['Task',{ id: task.id}]">{{task.title}}</a></h4>
                <p>{{task.body}}</p><hr>
            </div>
        </div>
    </div>
</div>

