<div *ngIf="isLoading">
    <i class="fa fa-spinner fa-spin fa-3x fa-fw" aria-hidden="true" style="position: relative;left: 50%;"></i>
</div>

<div class="row">
    <div class="col-lg-12" *ngFor="#task of tasksData; #i = index">
        <h1><a href="#{{i + 1}}">{{task.title}}</a></h1>

        <p class="lead">by <a href="#">U</a></p><hr>
        <p><span class="glyphicon glyphicon-time"></span>{{createAt | date }}</p><hr>
        <img class="img-responsive" src="http://placehold.it/350x150" alt=""><hr>

        <p>{{task.body}}</p><hr>

        <!-- Comments Form -->
        <div *ngIf="commentsData" class="well">
            <h4>Leave a Comment:</h4>
            <form role="form">
                <div class="form-group">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <hr>
    </div>
</div>